<nav class="ui menu">
    <header class="ui header item"> <a href="/"> Play Gym </a> </header>
    <div class="right menu">
        <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
        <a id="setgoal" class=" item" href="/getgoalpage"> Set Goal </a>
        <a id="logout" class="ui icon item" href="/logout"> Logout </a>
        <a id="settings" class="ui icon item" href="/settings/{{member.id}}"> <i class="large user icon "></i> </a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>

