<nav class="ui menu">
    <header class="ui header item"> <a href="/"> Play Gym </a></header>
    <div class="right menu">
        <a id="dashboard" class="item" href="/trainerdashboard"> Members List </a>
        <a id="addMember" class="item" href="/addnewmemberpage"> Add Member </a>
        <a id="getgoal" class=" item" href="/getgoalpagetrainer/{{member.id}}"> Set Goal </a>
        <a id="about" class="item" href="/about"> About </a>
        <a id="logout" class="ui icon item" href="/logout"> Logout </a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>