{{> trainerMenu id="setgoaltrainer"}}

<form class="ui stacked segment form" action="/setgoaltrainer/{{memberID}}" method="POST">
    <div class="ui segment" id="fitnessGoals">
        <h1>Primary Fitness Goal</h1>
        <input class="myRadio" type="radio" id="lose-weight" name="goal" value="Lose Weight" checked required>
        <label for="lose weight"><span class="ui large text">Lose Weight</span></label>
        <br>
        <br>
        <input class="myRadio" type="radio" id="build-muscle" name="goal" value="Build Muscle" >
        <label for="build muscle"><span class="ui large text">Build Muscle</span></label>
        <br>
        <br>
        <input class="myRadio" type="radio" id="tone-up" name="goal" value="Tone Up" >
        <label for="other"><span class="ui large text">Tone up</span></label>
    </div>
    <div class="ui segment">
        <h1>Goal Achieved</h1>
        <input type="radio" id="yes" name="goalachieved" value="yes" required>
        <label for="lose weight"><span class="ui large text">Yes</span></label>
        <br>
        <br>
        <input type="radio" id="no" name="goalachieved" value="no">
        <label for="build muscle"><span class="ui large text">No</span></label>

    </div>
    <button class="ui blue submit button">Set Goal</button>
</form>