{{> trainerMenuDashboard id="trainerDashboard"}}

<section class="ui segment">
    {{> fitnessgoal}}
    {{> userstats}}
    {{> addassessmenttrainer}}
    {{> listassessmentsfortrainer}}

</section>

